:root {
    --header-height: 25vh;
    --footer-height: 5vh;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
}
html {
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    background-color: #2b4ede;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: var(--header-height);
}
header picture {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    display: grid;
    justify-content: center;
    align-content: center;
}
img {
    width: 100%;
}
.titleDiv {
    display: grid;
    justify-content: center;
    align-content: center;
}
.titleDiv h1 {
    color: rgb(244, 244, 244);
    display: block;
    height: 100%;
}


main {
    padding: 20px;
    min-height: var(--main-height);
}
.buttonDiv {
    text-align: center;
}
button {
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(56, 93, 240);
}
footer {
    background-color: #2b4ede;
    padding: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    height: var(--footer-height);
}
.footerItem {
    color: white;
    font-size: 20px;
    font-style: italic;
}
